%h1 Dodaj post:
= form_for @post do |p|
   %p
      = p.label :title, "Tytuł"
      %br= p.text_field :title
   %p
      = p.label :description, "Treść"
      %br= p.text_area :description

      %br= p.submit "Dodaj"
